/* //  CSS Custom Variables  // */

:root {
	--header-bckgrdColor: rgba(200, 24, 100, 0.6);
	--hamburgColor: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* // Body // */
body {

	font-size: 1.125rem;
	font-family: 'Barlow Condensed', sans-serif;
	background: #f1f1f1;
}
/* // Full size navBar // */
.nav-bar {
	background-color: var(--header-bckgrdColor);
	position: fixed;
    z-index:999;
	left:0;
    top:0;
	width: 100%;
	height:3.5rem;
}

.nav-bar.nav {
	display:grid;
	grid-template-columns: 2fr 1fr;
	text-align: center;
	align-content: center;
}

.nav_2-nav ul {
	margin: 0 auto;
	padding:0;
}	

.nav_2-nav ul li {
	display: block;
	width: auto;
	margin: 1em;
}

.nav_2-nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.5rem;

}

/* // main Logo // */

.logo {
	height: 2.5em;
	font-size:2.5rem;
	font-weight: 800;
	margin-top: 1.3em;
}

.logo a {
	text-decoration: none;
	color: white;
	
	
}

/* // Hamburger Nav  //  */

.hamburger-nav {
	width: 1.7rem;
	height: 3px;
	display: flex;
	flex-direction: column;
	background-color: var(--hamburgColor);
	position: absolute;
	top:26px;
	right:55px;
	cursor: pointer;
	
}

.hamburger-nav::before {
	width: 1.7rem;
	height: 3px;
	background-color: var(--hamburgColor);
	position: absolute;
	top: -8px;
	right:0px;
	content:'';
	cursor: pointer;
	
}

.hamburger-nav::after {
	width: 1.7rem;
	height: 3px;
	background-color:var(--hamburgColor);
	position: absolute;
	top: 8px;
	right:0px;
	content:'';
	cursor: pointer;
}

nav .menu {
	font-size: 1.25rem;
}

nav .menu ul {
	display: inline-block;
	float: left;
}

.menu ul li{
	display: inline-block;
	float: left;
	padding-right: 1rem;
}

.menu ul li a{
	color: white;
	letter-spacing: 1px;
	
}

/* // Splash/Jumbotron // */



.splash, main {
	color: white;
}

.splash {
	background-image: url("https://i.ibb.co/s3pK7DB/aerial-photography-of-mountain-3077332-1.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 25rem;
	margin-top: 3.49rem;
}

.splash-heading {
	font-size: 4.3rem;
	font-weight: 700;
	margin-top: 1em;
	color: rgba(10, 10, 30, 0.6);
}

.splash-bio {
	font-size: 2rem;
	margin-top: 7.9em;
	margin-left: 1.4em;
}

.bio {
	margin: 1em;
	color: black;
	font-size: 1.4rem;
}

.splash .bio {
	font-size: 2.5rem;
	margin-top: 5em;
}

.bio-box {
	font-size:1.4rem;
	color: black;
	width: 100%;
}


.info {
	color: white;
	width: auto;
	height: 1.5em;
	padding-left: 1rem;
	padding-top:0.3em;
}
/* //Main Section // */
main {
	font-family: 'Barlow Condensed', sans-serif;
	margin: 0 auto;
	width: 100%;
}

main img {
	width:100%;
	height: auto;
}

main .img {
	margin-top: 3rem;
}

main .title {
	font-size: 2rem;
	margin-top: 1em;
	color: black;
}

main .title a {
	color:black;
}


#myDiv {
	background-color:rgba(200, 24, 100, 0.9);
	z-index: 999;
	width: 70.3%;
	height: 23rem;
	margin-top: 3em;
	color: white;
	position: fixed;
	left: 6.2em;
    top:0px;
}

/* // Classes Page  // */

#classes {
	margin-top: 3em;
}

.class_1 {
	display: flex;
	flex-direction: column;
	margin: 2em auto;
	background: #f1f1f1;
	font-size: 1.4rem;
	color: black;
	width: 100%;
}


.class_1 h1{
	align-self: flex-start;
	font-size: 2.1rem;
	margin-bottom: 0.45em;
	margin-left: 1em;
	margin-top: 0.45em;
}


.class-info {
	margin-top:0.75rem;
	padding: 1em;
}

.class-img{
	align-self: center;
}

.class_1 img{
	width: 100%;
	height: auto;
	margin: 0 auto;
	align-self: center;
}

/* // Button Style // */

.btn-box {
	text-align: center;
	margin-top: 1.3rem;
}


.btn {
	margin-bottom: 3em;
	padding: 0.75em;
	width: 10em;
	border: none;
	border-radius: 4px;
}


.btn-green {
	background: rgb(0,200, 100)
}

/* //  Contact Form Style  //*/


 .container {
	height: 70vh;
	border: 2px solid red;
	background: linen;
	margin: 5rem 1.2rem;
 }

.heading-flower {
	color: white;
	background-image: url("https://i.ibb.co/6ZwgZkT/art-blooming-botanical-2968327.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: inset 2.1rem 2.1rem 0 2.1rem rgba(100,200,200, 0.6);
}

.form-info{
	color: black;
}

.heading{
	text-align: center;
	font-size: 42px;
	width: 100%;
}
.form-info, .form-name, .form-email, .form-subject, .form-message{
	margin-top: 1.4em;
}

textarea {
	width: 100%;
	height: 12vh;
	padding: 0;
}

#contactBtnBox {
	text-align: center;
}

.contact-btn {

	padding: 0.75em;
	width: 10em;
	border: none;
	border-radius: 4px;
}

/* // footer Style  //  */

footer {
	width: 100%;
	height: 4rem;
	background: rgba(122,122, 122, 0.6);
}



